{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "importOrderTypeScriptVersion": "5.8.3",
  "importOrderCaseSensitive": false,

  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "printWidth": 160,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto"
}
