@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');


* {
    padding: 0;
    --tihlde-blaa: #1D448C;
    --gray: #F8F8FA;
    --tihlde-white: #Fefefe;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
/* use only em for font sizes */

/* GLOBAL */
.white_text {
    color: white !important;
}
.serif_text {
    font-family: 'Roboto', serif !important;
}
.thin_text {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100 !important;
}
.italic {
    font-style: italic;
}
.text_shadow_thin {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8) !important;
}
.text_shadow_thicc {
    text-shadow: 4px 4px 4px rgba(0,0,0,0.8) !important;
}
.large_text {
    font-size: 2em !important;
}

/* HEADER */
.app-header {
    background-color: white;

    font-size: 50vv !important;
}

a {
    color: var(--tihlde-blaa);
}

.clickable:hover {
  background-color: #EBEBEB; 
}


/* MARKDOWN CUSTOM CSS */
.renderer ul {
    padding-left: 20px;
}

.renderer img {
    max-width: 100%;
    height: auto;
    margin-block-end: 1em;
}

.renderer h3, h2, h1, p {
    margin-block-end: 1em;
    margin-block-start: 0;
}

pre {
    padding: 16px;
    background-color: whitesmoke;
    overflow-x: auto;
}

p > code {
    padding: 10px;
    background-color: whitesmoke;
}

/* PULSE EFFECT */

.pulse {
    display: block;
    min-width: 14px;
    min-height: 14px;
    border-radius: 100%;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 0 rgba(255,255,255,0.8);
    animation: pulse 2s infinite;
    margin-right: 20px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
    }
    90% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.9);
    }
    90% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


/** Sidebar **/
.noScrollbar::-webkit-scrollbar { 
    display: none; 
}


/** Landing page **/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
}
.waveWrapperInner {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    min-height: 450px;
    top: 0;
    background-image: linear-gradient(to top, #814a93 20%, #16356e 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 80% 100px;
    background-image: url("../img/wave-top.png");
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 60% 120px;
    background-image: url("../img/wave-mid.png");
}
.waveAnimation .waveMiddle {
    animation: move_wave 20s linear alternate infinite;
}
.waveBottom {
    background-size: 60% 100px;
    background-image: url("../img/wave-bot.png");
}
.waveAnimation .waveBottom {
    animation: move_wave 25s linear alternate infinite;
}
@media only screen and (max-width: 500px) {
    .waveTop {
        background-size: 80% 40px;
    }
    .waveMiddle {
        background-size: 60% 60px;
    }
    .waveBottom {
        background-size: 60% 50px;
    }
}



