@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@500;700&family=Inter:wght@300;700;900&&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@utility container {
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-out; */
  --animate-wave-top: move-wave 60s linear infinite alternate;
  --animate-wave-middle: move-wave 20s linear infinite alternate;
  --animate-wave-bottom: move-wave 25s linear infinite alternate;
}

:root {
  --background: hsl(0 0% 97%);
  --foreground: hsl(0 0% 5%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 5%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 5%);
  --primary: hsl(0 85% 49%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 94%);
  --secondary-foreground: hsl(0 0% 22%);
  --muted: hsl(0 0% 94%);
  --muted-foreground: hsl(0 0% 45%);
  --accent: hsl(0 0% 94%);
  --accent-foreground: hsl(0 0% 22%);
  --destructive: hsl(0 90% 40%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(0 0% 90%);
  --input: hsl(0 0% 90%);
  --ring: hsl(0 85% 49%);
  --radius: 0.5rem;

  --warning: hsl(35 100% 20%);
  --success: hsl(145 60% 36%);

  --chart-1: oklch(0.586 0.24 27);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: hsl(0 85% 49%);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: hsl(0 0% 5%);
  --foreground: hsl(0 0% 95%);
  --card: hsl(0 0% 13%);
  --card-foreground: hsl(0 0% 95%);
  --popover: hsl(0 0% 5%);
  --popover-foreground: hsl(0 0% 95%);
  --primary: hsl(0 82% 48%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 22%);
  --secondary-foreground: hsl(0 0% 95%);
  --muted: hsl(0 0% 22%);
  --muted-foreground: hsl(0 0% 67%);
  --accent: hsl(0 0% 22%);
  --accent-foreground: hsl(0 0% 95%);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: hsl(0 82% 48%);
  --warning: 36 100% 86%;
  --success: 145 50% 65%;

  --chart-1: oklch(0.586 0.24 27);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: hsl(0 82% 48%);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

/** Landing page rain animation **/
.rain {
  z-index: 15;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 450px;
  width: 100%;
  animation: falling linear infinite both;
  transform: translate3D(0, -100%, 0);
  overflow: hidden;
}

.rain--near {
  animation-duration: 20s;
  background-image: url('../img/rain/rain-near.png');

  background-size: contain;
}
.rain--near .rain--alt {
  animation-delay: 5s;
}

.rain--mid {
  animation-duration: 30s;
  background-image: url('../img/rain/rain-mid.png');

  background-size: contain;
}
.rain--mid .rain--alt {
  animation-delay: 10s;
}

.rain--far {
  animation-duration: 40s;
  background-image: url('../img/rain/rain-far.png');

  background-size: contain;
}
.rain--far .rain--alt {
  animation-delay: 20s;
}

@keyframes falling {
  0% {
    transform: translate3D(-7.5%, -100%, 0);
  }

  100% {
    transform: translate3D(7.5%, 100%, 0);
  }
}

/* @keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}
@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
} */
@keyframes move-wave {
  0%,
  100% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
