.Root {
    position: relative;
}

.Carousel {
    width: 100vw;
    max-width: 1100px;
    height: 400px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.Item {
    position: absolute;
    background-color: #515151;
    width: 500px;
    height: 250px;
    box-shadow: 2px 2px 8px 1px rgba(51,51,51,0.3);
    transition: all 0.3s ease-out;
}

.Item img {
    width: 100%;
    height: 100%;
}

.Item:nth-child(2){
    z-index: 400;
    width: 600px;
    height: 300px;
}

.Item:nth-child(1){
    left: 0;
}

.Item:nth-child(3){
    right: 0;
}

#item1 {
    order: 1;
    background-color: green;
}

#item2 {
    order: 2;
    background-color: red;
}

#item3 {
    order: 3;
    background-color: blue;
}

.Options {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 75px;
    z-index: 500;
}

.Buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.Button {
    width: 150px;
}
