.image-gallery-content {
    height: 100%;
}

.image-gallery-content div{
    height: 100%;
}

.image-gallery-image {
    background-color: black;

}

.image-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}