name: Lint and build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main

      - name: Lint
        run: pnpm lint
      - name: Prettier
        run: pnpm prettier --check ./src

      - name: Build
        run: pnpm build
